.presskitHeader{
    padding:3rem 1rem 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    width:96%;
    gap:1rem;
    z-index:1;
    padding-bottom:5rem;
}
.contentSection{
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}
.contentSection h2{
    width: 100%;
    text-align: center;
    font-size:2.65rem;
    color: #2FAFFF;
}
.gallery{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:.5rem;
}
.gallery img{
    cursor: pointer;
}
.galleryBg{
    position: absolute;
    z-index:0;
    top:25rem;
}
.download{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dowloadButton{
    background: #FF9500;
    color: var(--gray-10);
    border: none;
    padding:.85rem 1.25rem;
    border-radius:.5rem;
    margin-top: 1.25rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-size:1.75rem;
    transition: all .2s ease-in-out;
    width: max-content;
}
.tipBorder{
    width: 100%;
    height: 72px;
    background-image: url("./assets/page-border.png");
    background-repeat: repeat-x;
}
.tipSection{
    width: 100%;
    background: #1F1A2F;
    display: flex;
    justify-content: center;
    padding: 3rem 0 5rem;
}
.tipContent{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3rem;
}
.tipContent p{
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}
.dowloadButton:hover,
.playButton:hover{
    opacity:0.8;
}

@media screen and (min-width: 1000px) {
    .presskitHeader,
    .content,
    .gallery,
    .contentSection{
        width: 1000px;
    }
    .presskitHeader{
        background-image: url("./assets/kmd_reward_header_bg-min.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tipContent{
        flex-direction: row;
        gap:1rem;
        width: 80%;
        align-items: start;
    }
    .tipContent p{
        text-align: left;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}